<table>
      <tr>
          <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             <b>End. Trabalho: </b> <%= text_field :crianca,:local_trabalho %> &nbsp<b>Nº</b><%= text_field :crianca, :num_trab, :size=>"2" %>&nbsp
             <b>Bairro:</b> <%= text_field :crianca, :bairro_trab, :size=>"20" %>&nbsp
             <b>Fone:</b> <%= text_field :crianca, :fone_trabalho, :size=>"15" %>
          </td>
       </tr>

</table>





