<table>
      <tr>
          <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
             <b> Nome da  escola/cidade </b> <%= text_field :crianca, :opcao3, :size=>"80"%>
          </td>
       </tr>

</table>




