<div id="internoS">
<% title "CONSULTA_FICHA".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>INSCRIÇÃO NÃO PERMITIDA</strong></font><br/>
 </div>
    <div class="tabs">
    
<fieldset>
       <legend><font size=4>DEMANDA</font></legend>
       <table width="100%" align="center"  >
          <tr>
            <td colspan="2"align="left"><font  color="red" size="3"> <b> INSCRIÇÕES PERMITIDAS SOMENTE PARA CRIANÇAS NASCIDAS ANTES DO DIA 07 DE AGOSTO/2021 <br/> OU ANTERIORES À  06/01/2021</b></font>

          </td>
        </tr>
       </table>
       </fieldset>


       <br/>
  <table>
    <tr>
     <td width="6%"align="left" ><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
     
    </tr>
  </table>
 </div>



</div>

<br/>
</div>









